node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.cursorrules
.cusor-server
.cache
.vscode
.npm
.env
logs/*
logs/*.log
.cursor-server/**/node
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
coverage

# Dependency directories
node_modules
.npm
