modules = ["postgresql-16"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42755590
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
